Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/MultistoryDungeons/Scenes/
Content/MultistoryDungeons/Source_PSD/
Content/MultistoryDungeons/SourceMeshes.rar
